.live-chat-master
{
  width: 100%;
  height:100%;
}

.live-chat-header{
  height:10%;
}

.live-chat-body{
  height: 70%;
  overflow-y: auto;
}

.live-chat-footer{
  margin: 0 15px;
  padding-top: 10px;
  height:20%;
  border-top: 1px solid rgba(255,255,255,0.08);
}
  .live-chat-footer .wrap-entry-text{
    height:60%;
    overflow-y: auto;
  }

  .live-chat-footer .emoji{
    height:40%;
    display: block;
    text-align: right;
  }

  .live-chat-footer .emoji .__act{
    width: 15px;
    height: 15px;
    margin: 10px;
    object-fit: cover;
  }

  .live-chat-footer .emoji .__act.__act20{
    height:16px;
    width: 20px;
  }

.entry-message,.entry-message:focus{
  border: rgba(0,0,0,0);
  color:rgba(255,255,255,.8);
  padding:5px;
  border-radius: 0;
  box-shadow: none;
  overflow:hidden;
  transition: all 0.2s;
  resize: none;
  background:rgba(173, 182, 190,0);
}

.entry-message::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:rgba(255,255,255,.6);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
     color:rgba(255,255,255,.6);
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
     color:rgba(255,255,255,.6);
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
     color:rgba(255,255,255,.6);
}
::-ms-input-placeholder { /* Microsoft Edge */
    color:rgba(255,255,255,.6);
}


/*===============Chat==============*/
.live-chat-header{
  text-align: center;
  border-bottom: 1px solid rgba(255,255,255,0.08);
  margin: 0 15px;
}

.live-chat-header h3{
  display: inline-block;
}

.live-chat-item{
  margin: 15px;
  display: flex;
  color: rgba(255,255,255,0.8);
  align-items: flex-start;
}

.live-chat-item .live-chat-user-avatar{
  margin-right: 10px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  object-fit: cover;
}

.live-chat-item .live-chat-content label{
  color:#aaa;
  margin-right: 5px;
}

.live-chat-item .live-chat-content span{
  font-size: 14px;
}


/*=================Stop=================*/
