.live-chat-master
{
  width: 100%;
  height:100%;
}

.live-chat-header{
  height:12%;
}

.live-chat-body{
  height: 70%;
  overflow-y: auto;
}

.live-chat-footer{
  margin: 0 15px;
  padding-top: 10px;
  height:18%;
  border-top: 1px solid rgba(255,255,255,0.08);
}
  .live-chat-footer .wrap-entry-text{
    height:60%;
    overflow-y: auto;
  }

  .live-chat-footer .emoji{
    height:40%;
    display: block;
    text-align: right;
  }

  .emoji .toggle-emoji{
    position: relative;
  }

  .emoji .toggle-emoji .list-emojione{
    position: absolute;
    top: 0;
    right: 0;
    overflow-y:auto;
    transform: translate(-10px , -100%);
    width: 279px;
    height: 350px;
    background: #fff;
    text-align: left;
    padding: 15px 15px 0 15px;
  }

  .emoji i.fa{
    font-size: 18px;
    margin: 0 10px;
  }

.entry-message,.entry-message:focus{
  padding:5px;
  border-radius: 0;
  box-shadow: none;
  overflow:hidden;
  transition: all 0.2s;
  resize: none;
}



/*===============Chat==============*/
.live-chat-header{
  text-align: center;
  border-bottom: 1px solid rgba(255,255,255,0.08);
  margin: 0 15px;
}

.live-chat-header h3{
  display: inline-block;
}

.live-chat-item{
  margin: 15px;
  display: flex;
  align-items: flex-start;
}

.live-chat-item .live-chat-user-avatar{
  margin-right: 10px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  object-fit: cover;
}

.live-chat-item .live-chat-content label{
  color: #000;
  margin-right: 5px;
}

.live-chat-item .live-chat-content span{
  font-size: 14px;
}


/*=================Stop=================*/
