body{
  font-family: 'Ubuntu', sans-serif;
}
.box{
  height: 100vh;
}

.red{
  background: #222635;
}

.green{
  background: #101117;
  overflow: hidden;
  .g-content{
    height:100%;
    overflow-y:auto;
  }
}

.no-gutters{
  margin-right:0;
  margin-left: 0;
}

 [class^="col-"],
 [class*=" col-"]{
  padding-right: 0;
  padding-left: 0;
}


.m-nav-bar{
	transition: .3s ease-in-out;
}

.m-content{
	transition: .3s ease-in-out;
}




/*Scrollbar*/
.hero__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.left-size-bar{
  position: relative;
}

#wechat {
  width: 100%;
  height:100%;

}

[data-canvas-image] {
    display: none;
}
/*stop*/


#left-side-bar{
  float: left;
  width: 36px;
  border-right: 1px solid rgba(255,255,255,0.08);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

#content-center{
  float: left;
  width: calc(100% - 36px);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.content-wrapper.collapse-left-bar #left-side-bar{
  width: 20%;
}

.content-wrapper nav{
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  width:100%;
  height:0;
}

.content-wrapper.collapse-left-bar nav{
    height: 50px;
}

.content-wrapper.collapse-left-bar #content-center{
  width: 80%;
}


#content-right{
  border-left: 1px solid rgba(255,255,255,0.08);
}

@media(max-width:992px){
	.red{
		height: 50px;
		transition: .3s ease-in-out;
	}
	#wrapper.toggle .red{
		height: 30vh;
	}
}

@media(min-width:1200px){
}
@media(min-width:768px){}
@media(min-width:992px){
	#wrapper.toggle .m-nav-bar{
		width: 36px;
	}
  .green{
    height: 100vh;
    .g-content{
      margin-right: -15px;
    }
  }

	#wrapper.toggle  .m-content{
		 width: calc(100% - 36px);
	}
}
